.sidebar{
          background-color: #303952;
          border-radius: 12px;
          max-width: 350px;
          max-height: 500px;
}

.sidebar-header{
          font-size: 2rem;
          font-family: 'Popins' sans-serif;
          font-weight: 600;
          margin: auto;
          text-align: center;
          color: #FFFF;
          padding: 1rem;
          display: flex;
          align-items: center;
          gap: 10px;

}

.side1-section{
          /* margin-left:70px; */
          padding: 1rem;
}

.side1-section h2{
          color: #FFFF;
          font-family: 'Popins' sans-serif;
          font-weight: 600;
          display: flex;
          align-items: center;
          gap: 10px;
}

.side1-section label{

          color: #9e9ea7;
}

.input-select{
          width: 100%;
          height: 40px;
          line-height: 28px;
          padding: 0 1rem;
          padding-left: 2.5rem;
          border: 2px solid #9e9ea7;
          border-radius: 8px;
          outline: none;
          background-color: #FFFF;
          color: #0d0c22;
          transition: .3s ease;
}

@media screen and (max-width:640px) {
          .sidebar{
                    margin: auto;
                    
          }
          .sidebar-header{
                    margin: auto;
          }

          .modify-section{
                    display: grid;
                    grid-template-columns: repeat(2,1fr);
                    
          }
}

